@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&amp;display=swap');

:root {
    --bg-color: #0B1D26;
    --text-color: #fff;
    --accent-color: #FBD784;
}

* {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}


h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

.accent-color {
    color: var(--accent-color);
}


.header__navigation {
    padding: 64px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 3px;
}

nav {
    display: flex;
    gap: 27px;
}

.header__account {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}



.header__hero {
    max-width: 950px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pre-header {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--accent-color);
    display: flex;
    gap: 32px;
    align-items: center;
}

.pre-line {
    display: inline-block;
    width: 72px;
    height: 8px;
    background: var(--accent-color);
}

.header__social {
    position: absolute;
    top: 360px;
    left: 80px;
    display: flex;
    align-items: center;
    gap: 24px;
    writing-mode: vertical-lr;
}


header {
    height: 1700px;
    background: linear-gradient(#0000 70%, var(--bg-color)),
        url(../images/bg-header.png);
    background-size: cover;
    background-position: center top;
}



.guide-trails{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.guide-trails__header, .our-services__header{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.guide__cards{
    display: flex;
    gap: 48px;
}

.guide__card{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 278px;
}

.guide__card figure{
    display: flex;
    gap: 18px;
    align-items: center;
}

.guide__card figcaption{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.guide__card__name{
    font-size: 22px;
    font-weight: 500;
}

.guide__card__job{
    font-size: 20px;
    opacity: 0.44;
}

.guide-trails__trails, .guide-trails__guide{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.trails__info{
    display: flex;
    gap: 47px;
}

.trails__title{
    font-weight: 500;
}

.trails__about{
    font-weight: 300;
    opacity: 0.44;
}

.trails__info div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guide-trails__trails{
    width: 455px;
    font-size: 16px;
}

.our-services{
    max-width: 641px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 19px;
}


.our-services__header{
    align-items: center;
}


.service__cards{
    display: flex;
    justify-content: center;
    gap: 190px;
}

.service__card{
    color: var(--accent-color);
    font-weight: 900;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.service__card img{
    border: 3px dashed var(--accent-color);
    border-radius: 50%;
    padding: 10px;
}


main{
    display: flex;
    flex-direction: column;
    gap: 150px;
}


.slider__elements{
    max-width: 1462px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    gap: 30%;
}

.element{
    display: flex;
    align-items: center;
    gap: 114px;
    position: relative;
    transition: 1s;
    min-width: 100%;
}

.element:nth-child(2n){
    flex-direction: row-reverse;
}
.element:nth-child(2n) .element__big-number{
    left: unset;
    right: 508px;
}

.element figcaption{
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-left: 150px;
    font-weight: 700;
    line-height: 32px;
}

.element__big-number{
    position: absolute;
    left: 0;
    top: 38px;
    font-size: 240px;
    font-weight: 700;
    opacity: 0.1;
    z-index: -1;
}

.slider{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slider__pagination{
    display: flex;
    justify-content: center;
}

.slider__pagination button{
    background: none;
    border: none;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
    opacity: 0.5;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 10px;
}