@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --bg-color: #0B1D26;
    --bg-color-alpha0: #0b1d2600;
    --accent-color: #FBD784;
    --text-color: #fff;
}

a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: var(--accent-color);
    

}



body{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 300vh;
    font-size: 18px;
}





header{
    background-image: linear-gradient(var(--bg-color-alpha0) 50%, var(--bg-color)), url(../images/hero-bg.png);
    height: 2000px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.header-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.logo{
    font-size: 32px;
    font-weight: bold;
}

.header-navigation nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.header-navigation .account{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-hero{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-hero .description{
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.pre-header{
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--accent-color);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 900;
}

.pre-line{
    width: 72px;
    height: 8px;
    background: var(--accent-color);
}

h1{
    font-size: 88px;
    font-weight: 600;
    text-transform: capitalize;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 360px;
}

.social-media span{
    writing-mode: vertical-rl;
}



.slider{
    max-width: 1462px;
    margin: 0 auto;
    padding: 20px;
}

.slider-elements{
    width: 100%;
    height: 720px;
    display: flex;
    overflow: hidden;
    gap: 20%;
}

.element{
    display: flex;
    min-width: 100%;
    position: relative;
    transition: 1s;
}

.element figcaption{
    padding: 114px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.big-number{
    opacity: 0.1;
    font-size: 240px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
}


h2{
    font-size: 64px;
    font-weight: 700;
}

.element figcaption a{
    font-weight: 400;
    color: var(--accent-color);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.buttons button{
    background: none;
    padding: 20px;
    border: none;
    border-bottom: 2px solid lightgray;
    color: white;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.buttons button:hover{
    border-bottom: 2px solid var(--text-color);
}

.element:nth-child(2n){
    flex-direction: row-reverse;
    figcaption{
        margin-left: 114px;
    }
}



.guide-and-trails{
    display: flex;
    justify-content: space-between;
    max-width: 1462px;
    margin: 120px auto;
}

.guide .pre-header{
    margin: 23px 0px 60px;
}

.trails .pre-header{
    margin: 23px 0px 33px;
}

.guide .persons{
    display: flex;
    gap: 48px;
}

.guide .person{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 278px;
}



.guide .person-description{
    display: flex;
    align-items: center;
    gap: 20px;
}

.guide h4{
    font-size: 22px;
}

.guide .role{
    opacity: .44;
    margin-top: 8px;
}


.trails{
    display: flex;
    flex-direction: column;
    gap: 27px;
    max-width: 460px;
}

.tours{
    display: flex;
    gap: 47px;
}

h5{
    margin-bottom: 10px;
}

.tours p{
    opacity: 0.44;
}

.our-services{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.our-services .pre-header{
    justify-content: center;
    margin: 23px 0px 60px;
}

.our-services>p{
    max-width: 641px;
    margin: 0 auto;
}

.services-cards{
    margin: 82px 0px 150px;
    display: flex;
    justify-content: center;
    gap: 190px;
}

.card img{
    border-radius: 50%;
    padding: 10px;
    border: 3px dashed var(--accent-color);
}

.card figcaption{
    margin-top: 50px;
    color: var(--accent-color);
    font-size: 22px;
    font-weight: 700;
}


footer{
    max-width: 1462px;
    padding: 64px 0px;
    margin: 0 auto;
    display: flex;
    gap: 200px;
    border-top: 2px solid var(--text-color);
}

.footer-description{
    flex: 1;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links a{
    font-weight: 400;
}

.footer-links h3{
    color: var(--accent-color);
    font-size: 24px;
}


.footer-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-description div p{
    margin-top: 24px;
    max-width: 300px;
    line-height: 32px;
}

.copyright{
    opacity: 0.44;

}